.mainPricing{
    height: 480px;
    position: relative;
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* -moz-background-size: cover; */
    -webkit-background-size: cover;
    /* -o-background-size: cover; */
    background-position: inherit;
}
/* .headerPricing{
    align-self: stretch;
    padding: 32px 64px;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
    display: inline-flex;
    margin-top: 60px;
    z-index: 1;
} */

.pricingImg img{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    object-fit: cover;
    object-position: center top;
    color: transparent;
}