.homeContainer {
  min-height: 680px;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  /* -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover; */
}

.homeContainer img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  margin: 0 0;
  top: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  color: transparent;
}

.homeItem {
  top: 180px;
  position: relative;
  padding-left: 64px;
  max-width: 90%;
}

.home {
  z-index: 1;
  position: relative;
}
.homeLogo {
  height: 180px;
  width: 353px;
  position: relative;
  margin-bottom: 10px;
}

.homeLogo img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: transparent;
}

.home .h1Tag {
  margin: 0 0 10px !important;
  font-size: 48px;
  font-weight: 700;
  /* width: -webkit-max-content; */
  width: max-content;
  color: #f5f2f0;
}

.home .h2Tag {
  padding: 0;
  margin-top: 24px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 500;
  color: #f5f2f0;
}

.buttons {
  display: inline-flex;
  gap: 24px;
  margin-top: 24px;
}

.buttons .btn1 {
  display: inline-flex;
  gap: 24px;
  margin-top: 24px;
  flex: 1 1;
  text-align: center;
  /* color: hsla(0,0%,100%,.44); */
  cursor: pointer;
  font-size: 16px;
  font-family: var(--lexen_deca), sans-serif;
  font-weight: 600;
  overflow-wrap: break-word;
  align-self: stretch;
  justify-content: center;
  padding: 12px 16px;
  border-radius: 96px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: hsla(0, 0%, 100%, 0.96);
  background-color: #1d6ee3;
  border-color: #1d6ee3;
}

.buttons .btn2 {
  display: inline-flex;
  gap: 24px;
  margin-top: 24px;
  /* flex: 1 1; */
  text-align: center;
  /* color: hsla(0,0%,100%,.44); */
  cursor: pointer;
  font-size: 16px;
  font-family: var(--lexen_deca), sans-serif;
  font-weight: 600;
  overflow-wrap: break-word;
  align-self: stretch;
  padding: 12px 16px;
  border-radius: 96px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: rgba(26,29,36,.96);
  border-color: #fff;
  border-radius: 1.5px solid transparent;
}
